{% extends 'base.html' %}

{% block title %}
<title>Profile</title>
{% endblock title %}

{% block content %}
<a class="btn btn-primary" href={% url 'home' %}>< upload data </a>
<a class="btn btn-primary" href={% url 'show' %}> Build Graphic </a>
<h2 class="text-center">Your history<h2>
<div class="container">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
{% for img in images %}
    <p>
        <h1>{{img.title}}</h1>
        x_lim = [{{img.xlim_l}},{{img.xlim_r}}]
        y_lim = [{{img.ylim_l}},{{img.ylim_r}}]
        {% if img.k %}k = {{img.k}}{% endif %}
        <img src={{img.img.url}}>
    </p>
{% endfor %}
    </div>
    <div class="col-md-2"></div>
    </div>
</div>

<a class="btn btn-primary" href=#>Back to Top </a>

{% endblock content %}