{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Show</title>
{% endblock title %}

{% block content %}


<div>
    <form class='text-center' method="post">
    {% csrf_token %}
    {{form}}

    <div>
        {% if secondform %}
        {% csrf_token %}
        <br>
        {{secondform}}
        {% endif %}

        <br>

        <button type="submit" class="btn btn-primary">sent data</button>

        </form>
    <div>
<div>

<div>
    {% if  i  %}
    <img src='{{i.img.url}}' alt=''>
    {% endif %}
<div>

<div>
    <br>
    <br>
    {% if p %}
        <h3> f(x) = {{ p }} </h3>
    {% endif %}

<div>

<div class="function">
    <br>
    <a class="btn btn-primary" href={% url 'show' %}> restart </a>
    <br>
    <a class="btn btn-primary"  href={% url 'profile' %}> profile </a>
    <br>
    <a class="btn btn-primary" href={% url 'home' %}> upload new data file </a>
<div>


{% endblock content %}